<section class="hero-section">
  <img class="hero-image" src="{{ 'https://cdn.shopify.com/s/files/1/0808/4344/0423/files/Ledge-Lounger-Signature-Photos_0007_-857-__83804.1602866821.1280.1280.jpg?v=1691718760' }}" alt="Describe your image here">
  <div class="hero-content">
    <h1>Your Catchy Headline Goes Here</h1>
    <p>Your engaging subtext goes here. Make it compelling and interesting to your visitors.</p>
    <a href="/your-link" class="button">Your Call to Action</a>
  </div>
</section>


{% schema %}
{
  "name": "Hero section",
  "presets": [
    {
      "name": "Hero section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.hero-section {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-image {
  width: full;
  height: auto;
  grid-area: 1 / 1 / 2 / 2;
}

.hero-content {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;

}

{% endstylesheet %}